extends layout

block content
    h1= title
    p By #{author}
    form(action='/add', method='post')
        | URL to fetch: 
        br
        input(type='text', name='url')
        br
        input(type='submit', value='Submit')
